extends ./layout.jade

block title
 title welcome
block content
  .container
    .row
      .col-md-12
        h1 Choose a repository
        h3 Lorem ipsum doloret it samet
        hr
        each repo in repos
          .row.repo
            .col-md-1
              a(href="/check/"+repo.name)
                img(src="http://rit-csc.github.io/git_instructions/Media/git.png" width="70")
            .col-md-7
              h5 
                a(href="/check/"+repo.name)= repo.name
              .url
                a(href="https://github.com/"+repo.full_name)= repo.full_name
              .description
                p= repo.description
              .info
                if repo.homepage
                  span Homepage
                  span= " "+repo.homepage
            .col-md-3.stats
              ul.list-unstyled
                li
                  i.fa.fa-eye
                  span= " Watchers: "+repo.watchers_count
                li
                  i.fa.fa-code-fork
                  span= " Forks: "+repo.forks_count
                li
                  i.fa.fa-star
                  span= " Stars: "+repo.stargazers_count
                li
                  i.fa.fa-ticket
                  span= " Open Issues: "+repo.open_issues_count
            .col-md-1.text-left
              a(href="/check/"+repo.name)
                i.fa.fa-plus-square.fa-5x
          hr
