extends ./layout.jade

block title
  title gitmatch - about
block content
  .container
    .row
      .col-md-12.text-center
        h1 We are matching your project with contributors!
        h3 Lorem ipsum doloret it samet
        hr
    .row.match-list.text-center
      each muser in match
        .col-md-3
          .thumbnail
            img(src=muser.octodex)
            .caption
              h3 Match me!
              p.description
                ul.list-unstyled
                  li Public Repos: 
                    span= " "+muser.profile._json.public_repos
                  li Public Gists:
                    span= " "+muser.profile._json.public_gists
                  li Followers:
                    span= " "+muser.profile._json.followers
                  li Following:
                    span= " "+muser.profile._json.following
                  li Collaborators:
                    span= " "+muser.profile._json.collaborators
              p
                a.btn.btn-primary(role="button") Ask for Help
