extends ./layout.jade

block title
  title gitmatch - about
block content
  .container
    .row
      .col-md-12.text-center
        h1 We found a possible match
        h3 Are you interested to ask for help to this user?
        hr
    .row.match-list.text-center
        .col-md-6
          .thumbnail
            img(src="https://octodex.github.com/images/octobiwan.jpg", width="200")
            .caption
              h3 Match me!
              p.description
                ul.list-unstyled
                  li Public Repos: 
                    span= " "+match.profile._json.public_repos
                  li Public Gists:
                    span= " "+match.profile._json.public_gists
                  li Followers:
                    span= " "+match.profile._json.followers
                  li Following:
                    span= " "+match.profile._json.following
                  li Collaborators:
                    span= " "+match.profile._json.collaborators
        .col-md-6
          p
            a.btn.btn-primary(role="button") Ask for Help
    hr
